.myModal{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: none;
   background: rgba(0, 0, 0, 0.4);
}

.myModal.active{
   display: flex;
   align-items: center;
   justify-content: center;

}

.myModalContent{
border-radius: 12px;
padding: 25px;
background: white;
min-width: 450px;
}