.footer{
   min-height: 70px;
   padding: 15px;
   background-color: #ccc;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer__text{
   font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
}

.footer__text> svg{
   margin-left: 10px;
}